<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>loginServer</key>
	<string>https://accounts.aculearn.com</string>
	<key>About_Website_link</key>
	<string>http://www.aculearn.com</string>
	<key>FeedbackToRecipient</key>
	<string>support@aculearn.com</string>
</dict>
</plist>
